<form method="POST" action="/reset-password">
  <input type="hidden" name="token" value="<%= token %>" />
  <input type="text" name="email" value="<%= email %>" required />
  <input type="password" name="newPassword" placeholder="New Password" required />
  <button type="submit">Reset Password</button>
</form>
